@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hanken Grotesk";
  src: url(./assets/fonts/HankenGrotesk.ttf);
}

:root {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;


  /* Colors */

  /* Primary */
--light-red: 0 100% 67%;
--orangey-yellow: 39 100% 56%;
--green-teal: 166 100% 37%;
--cobalt-blue: 234 85% 45%;

--bg-opacity: 0.06;

  /* Gradients */
--bg-light-slate-blue: hsl(252, 100%, 67%);
--bg-light-royal-blue: hsl(241, 81%, 54%);

--circle-violet-blue: hsla(256, 72%, 46%, 1);
--circle-persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral */
--white: hsl(0, 0%, 100%);
--pale-blue: hsl(221, 100%, 96%);
--pight-lavender: hsl(241, 100%, 89%);
--dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--pale-blue);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background: var(--dark-gray-blue);
  color: white;
  width: 100%;
  border-radius: 50vmax;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  cursor: pointer;
}

button:hover,
.bg-result {
  background: linear-gradient(to top, var(--bg-light-royal-blue), var(--bg-light-slate-blue));
}

.bg-note {
  background: linear-gradient(to bottom, var(--circle-violet-blue), var(--circle-persian-blue));
}

.item {
 @apply flex justify-between gap-4 p-2 rounded-lg bg-slate-100 text-sm;
}

.item-category {
  @apply font-bold;
}

.item-score {
  @apply text-black text-opacity-40 font-bold;
}

.item-score b {
  @apply text-black text-opacity-80;
}

.item:nth-child(1) {
  background: hsl(var(--light-red) / var(--bg-opacity));
  .item-category {
    color: hsl(var(--light-red));
  }
}

.item:nth-child(2) {
  background: hsl(var(--orangey-yellow) / var(--bg-opacity));
  .item-category {
    color: hsl(var(--orangey-yellow));
  }
}

.item:nth-child(3) {
  background: hsl(var(--green-teal) / var(--bg-opacity));
  .item-category {
    color: hsl(var(--green-teal));
  }
}

.item:nth-child(4) {
  background: hsl(var(--cobalt-blue) / var(--bg-opacity));
  .item-category {
    color: hsl(var(--cobalt-blue));
  }
}

.color-light {
  color: var(--pight-lavender);
}



  /* Responsive */

@media (width < 640px) {
  .card {
    @apply flex flex-col shadow-none rounded-none;
  }

  .bg-result {
    @apply rounded-none rounded-b-2xl;
  }
}