@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hanken Grotesk";
  src: url(./assets/fonts/HankenGrotesk.ttf);
}

:root {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;


  /* Colors */

  /* Primary */
--light-red: hsl(0, 100%, 67%);
--orangey-yellow: hsl(39, 100%, 56%);
--green-teal: hsl(166, 100%, 37%);
--cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
--bg-light-slate-blue: hsl(252, 100%, 67%);
--bg-light-royal-blue: hsl(241, 81%, 54%);

--circle-violet-blue: hsla(256, 72%, 46%, 1);
--circle-persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral */
--white: hsl(0, 0%, 100%);
--pale-blue: hsl(221, 100%, 96%);
--pight-lavender: hsl(241, 100%, 89%);
--dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background: var(--dark-gray-blue);
  color: white;
  width: 100%;
  border-radius: 50vmax;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  cursor: pointer;
}

button:hover,
.bg-result {
  background: linear-gradient(to top, var(--bg-light-royal-blue), var(--bg-light-slate-blue));
}

.bg-note {
  background: linear-gradient(to bottom, var(--circle-violet-blue), var(--circle-persian-blue));
}

.list li {
 @apply flex justify-between gap-4 p-2 rounded-lg bg-slate-100
}

.color-light {
  color: var(--pight-lavender);
}