@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hanken Grotesk";
  src: url(./assets/fonts/static/HankenGrotesk-Medium.ttf), 
    url(./assets/fonts/static/HankenGrotesk-Bold.ttf),
    url(./assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
  font-weight: 500, 700, 800;
}

:root {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;


  /* Colors */

  /* Primary */
--light-red: hsl(0, 100%, 67%);
--orangey-yellow: hsl(39, 100%, 56%);
--green-teal: hsl(166, 100%, 37%);
--cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
--bg-light-slate-blue: hsl(252, 100%, 67%);
--bg-light-royal-blue: hsl(241, 81%, 54%);

--circle-violet-blue: hsla(256, 72%, 46%, 1);
--circle-persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral */
--white: hsl(0, 0%, 100%);
--pale-blue: hsl(221, 100%, 96%);
--pight-lavender: hsl(241, 100%, 89%);
--dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.list li {
 @apply flex justify-between gap-4 p-2 rounded-lg bg-slate-100
}
